:root {
 	--primary-color: #3498db;
    	--secondary-color: #2ecc71;
	--font-size-base: 16px;
}

body {
  background-color: #ec7e7e;
  color: black;
  font-size: 16px;
}

img {
   max-width: 100%;
}

table {
   width: 100%;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.margin-10 {
    margin: 10px;
}

.padding-20 {
    padding: 20px;
}

.bg-primary {
    background-color: #3498db;
    color: white;
}

.border-rounded {
    border-radius: 8px;
}
.text-italic {
    font-style: italic;
}


